* {
  margin: 0;
  padding: 0;
  &::-webkit-scrollbar {
    display: none;
  }
}
html,
body {
  height: 100%;
}
#app {
  height: 100%;
}
.el-menu-item {
  --el-menu-item-height: 44px;
  width: calc(100% - 20px);
}
