* {
  margin: 0;
  padding: 0;
  &::-webkit-scrollbar {
    display: none;
  }
}
html,
body,
#app {
  height: 100%;
  min-width: 375px;
}

.el-menu-item {
  --el-menu-item-height: 44px;
  width: calc(100% - 20px);
}
